# 数据库
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_POOL_SIZE=

# 静态文件路径
STATIC_FOLDER=

# 参数
ENHANCE_MAX_LEN=98304 # 强化地图画最大 (128 * 3) * (128 * 2)

MUSIC_MAX_TRACKS=20 # 红石音乐最大音轨数
MUSIC_MAX_LEN=10000 # 红石音乐最大投影长度

PIXEL_MAX_LEN=3072 # 像素画最大长度

FEED_MAX_LEN=360 # 广场获取的最多记录 12 * 30
